<!DOCTYPE html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@500&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <title>MAIN</title>
</head>

<body>
    <div class="container">
        <div class="bar">
            <div class="logo"><img src="../img/logo.svg"></div>
            <a href="../views/login.html">How it works?</a>
            <a href="../views/login.html">About us</a>
            <a href="../views/login.html">Features?</a>
        </div>
        <div class="separator"></div>
        <div class="motto">
            Learn new concepts<br>
            for each question
        </div>
 
        
    </div>
</body>
