body{
    top: 0;
    left: 0;
    margin :0;
    padding: 0;
    width:100%;
    height:100%;
    font-family: Poppins;
}

.container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;

}

.logo 
{
margin-right: 2vw;
    
}


.menu
{
    background:#FCC822;
    width:18vw;
    height:100vh;
    text-align: center;
}

a{
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    color: black;
    font-size: 1.7em;
}
a:hover{

    color: #ECECE8;

}
.board
{
font-size:4em;
color: #E0E0E0;
display: flex;
flex-direction: column;
font-style: normal;
font-weight: 400;
line-height: normal;
padding:2vw;
}

.separator 
{

    height: 0.1vh; /* Grubość linii */
    background-color: #ECECE8; /* Kolor linii */
    margin-bottom: 2vh; /* Odstęp między linią a divem motto */


}
.right
{
    display: flex;
    flex-direction: column;
}

.quizzes p
{
    font-size: 0.3em;
    padding:0;
}
.quizzes h2
{
    font-size: 0.4em;
    padding:0;
}
.projects
{
display: flex;
    flex-direction: row;
}
.quizzes
{
    padding:1em;
}

