body{
    top: 0;
    left: 0;
    margin :0;
    padding: 0;
    width:100%;
    height:100%;
    font-family: Poppins;
}

.container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;

}

.logo 
{
margin-right: 2vw;
    
}


.menu
{
    top:0;
    left:0;
    position: fixed;
    background:#FCC822;
    width:18vw;
height:100vh;
    text-align: center;
}

.menu a{
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    color: black;
    font-size: 1.7em;
}
.menu a:hover{

    color: #ECECE8;

}
.board
{
    margin-left: 20vw;
font-size:4em;
    font-color:black;
display: flex;
flex-direction: column;
font-style: normal;
font-weight: 400;
line-height: normal;
padding:2vw;
}

.separator 
{

    height: 0.1vh; /* Grubość linii */
    background-color: #ECECE8; /* Kolor linii */
    margin-bottom: 2vh; /* Odstęp między linią a divem motto */


}

.Add
{
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color:#FCC822;
    font-size: 0.4em;
margin-left:1vw;
    display: block;
    padding: 2vh;
    height: 4vh;
    width:5vw;
    text-align: center;
    background-color: #ffffff;
    color: #FCC822;
    text-decoration: none;
    border:0.1vw solid #FCC822;

}
.Add:hover{
    background: linear-gradient(95deg, #FCC822 0%, #FFCD2E 100%);
    color: white;
    box-shadow: 0px 0.1vw 2.5vh -0.2vw #FBE18F;
}
.Add>a:visited
{
    color: #FCC822;
}
a:link, a:visited {
color:black;
    text-decoration: none;
}

.projects
{
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;

}

header
{
    display:flex;
    flex-direction: row;
    margin-bottom: 5vh;
}


.search-bar > input {
    height:4vh;
    display: block;
    padding: 2vh;
    font-size: 2vh;
    width:40vw;
    text-align: center;
    background-color: #ffffff;
    color: #FCC822;
    text-decoration: none;
    border:0.1vw solid #FCC822;
    margin-right: 5vw;
    border-radius: 6em;



}
.search-bar > input::placeholder
{
    color:#FCC822;
}

.quiz, .projects>a>div, section>div
{
    font-size: 0.25em;
    padding:0;
    width: 15vw;
    margin-bottom: 1vw;
    font-color:black;

}
section>div>a
{
    font-size: 1em;
margin-left: 4vw;
    font-color:black;

}
.session
{
    font-size:0.2em;
    margin-top: 68vh;
    margin-left: 65vw;
}
.hello-message
{
    font-size:0.8em;
}
.right
{
    display: flex;
    flex-direction: column;
}

section.project-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-form>form {
    display: flex;
    flex-direction: column;
}

input,
textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    padding: 1em;
    margin: 1em;
    width: 50%;
}