/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body{
    background: #ffffff;
}

.start_btn,
.quiz_box,
.result_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0.2vw 0.4vw 0 rgba(0, 0, 0, 0.2), 
                0 0.3vw 0.6vw 0 rgba(0, 0, 0, 0.19);
}


.quiz_box.activeQuiz,
.result_box.activeResult{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.start_btn button{
    font-size: 2em;
    font-weight: 400;
    color: #FCC822;
    padding: 1vw 2vw;
    outline: none;
    border: none;
    border-radius: 0.3vw;
    background: #fff;
    cursor: pointer;
}




.quiz_box{
    width: 80vw;
    background: #fff;
    border-radius: 0.3vw;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.quiz_box header{
    position: relative;
    z-index: 2;
    height: 5vh;
    background: #fff;
    border-radius: 0.3vw 0.3vw 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.1vw 0.1vw 0 #FCC822;
}

.quiz_box header .title{
    font-size: 1.5em;
    font-weight: 400;

}

section{
    padding: 1vw 1.5vw 1vw 1.5vw ;
    background: #fff;
}

section .que_text{
    font-size: 3em;
    font-weight: 600;
    
}

section .option_list{
    padding: 1vw 0;
    display: block;   
}

section .option_list .option{
    
    background: #ffffff;
    border: 0.1vw solid #FCC822;
    border-radius: 0.2vw;
    padding: 0.6vw 0.6vw;
    font-size: 1.1em;
    margin-bottom: 0.8vw;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

section .option_list .option:last-child{
    margin-bottom: 0;
}

section .option_list .option:hover{

    background: linear-gradient(95deg, #FCC822 0%, #FFCD2E 100%);
    color: white;
    box-shadow: 0 0.1vw 2.5vh -0.2vw #FBE18F;

}

section .option_list .option.correct{
    color: #155724;
    background: #d4edda;
    border: 0.1vw solid #c3e6cb;
}

section .option_list .option.incorrect{
    color: #721c24;
    background: #f8d7da;
    border: 0.1vw solid #f5c6cb;
}

section .option_list .option.disabled{
    pointer-events: none;
}

section .option_list .option .icon{
    height: 3vh;
    width: 3vh;
    border: 0.2vw solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 0.8em;
    pointer-events: none;
    transition: all 0.3s ease;
    line-height: 2.7vh;
}
.option_list .option .icon.tick{
    color: #23903c;
    border-color: #23903c;
    background: #d4edda;
}

.option_list .option .icon.cross{
    color: #a42834;
    background: #f8d7da;
    border-color: #a42834;
}

footer{
    height: 8vh;
    padding: 0vh 1.5vw 5vh 2.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

footer .total_que span{
    display: flex;
    user-select: none;
}

footer .total_que span p{
    font-weight: 500;
    padding: 0 0.4vh;
}

footer .total_que span p:first-child{
    padding-left: 0;
}

footer button{
    width: 10vw;
    height: 5vh;
    padding: 0 1vh;
    font-size: 1.2em;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    color: #FCC822;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 0 0.1vw 2.5vh -0.2vw #FBE18F;
    border: 1px solid #FCC822;
    line-height: 10px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.3s ease;
}

footer button:hover{
    background: linear-gradient(95deg, #FCC822 0%, #FFCD2E 100%);
    color: white;
    box-shadow: 0px 0.1vw 2.5vh -0.2vw #FBE18F;
}

footer button.show{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.quiz_box footer .timer{

    background: #ffffff;
    border: 0.1vw solid #FCC822;
    height: 5vh;
    padding: 0 0.8vw;
    border-radius: 0.2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 8vw;
    font-size: 1.1em;
}




.quiz_box footer .timer .time_left_txt{
    font-weight: 400;
    font-size: 1.1em;
    user-select: none;
}

.quiz_box footer .timer .timer_sec{
    font-size: 1.1em;
    font-weight: 600;
    height: 3vh;
    width: 3vh;
    text-align: center;
    user-select: none;
}

.result_box{
    background: #fff;
    border-radius: 5px;
    display: flex;
    padding: 25px 30px;
    width: 450px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.result_box .icon{
    font-size: 100px;
    color: #007bff;
    margin-bottom: 10px;
}

.result_box .complete_text{
    font-size: 20px;
    font-weight: 500;
}

.result_box .score_text span{
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.result_box .score_text span p{
    padding: 0 4px;
    font-weight: 600;
}

.result_box .buttons{
    display: flex;
    margin: 20px 0;
}

.result_box .buttons button{
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #007bff;
    transition: all 0.3s ease;
}

.buttons button.restart{
    color: #fff;
    background: #007bff;
}

.buttons button.restart:hover{
    background: #0263ca;
}

.buttons button.quit{
    color: #007bff;
    background: #fff;
}

.buttons button.quit:hover{
    color: #fff;
    background: #007bff;
}


.go-dashboard a {
    display: block;
    padding: 2vh;
    font-size: 2vh;
    width:10vw;
    text-align: center;
    background-color: #ffffff;
    color: #FCC822;
    text-decoration: none;
    border:0.1vw solid #FCC822;
}
.go-dashboard
{
    margin-top: 2.5vh;
    margin-left: 2.5vw;

}
